<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Congtatulations</title>
</head>
    <body>
        <h1>Оплата прошла успешно</h1>
     <a href="{% url "shop:product_list" %}" class="button light">Continue shopping</a>
    </body>

</html>